@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
  <div class="logo">
    <img src="~/images/1.png" alt="Logo">
  </div>
  <div class="text">
      <h3>Welcome!</h3>
    <p>Lilac Blossom Tarot is a tarot card generator. Tarot is a deck of 78 cards, each with its own symbolism used for gaining insight and inspiration into specific situations. <br /><br />Lilac Blossom Tarot currently has three different spreads to choose from: <br /><br />The <a asp-page="/Spreads/PastPresentFuture">Past, Present, Future</a> spread helps with understanding previous, current, and upcoming energies about a situation. <br /><br />The <a asp-page="/Spreads/LetGoMoveOn">Let Go, Move On</a> spread helps you understand an issue better and guide you on how to grow, let go, or heal from it. <br /><br />And lastly, the <a asp-page="/Spreads/DailyPull">Daily Pull</a> draws a single tarot card to gain insight and guidance for the day. We recommend starting with the Daily Pull as it's the easiest place to begin. </p>
  </div>
</div>
    <center><a asp-page="/Spreads/DailyPull" class="btn btn-primary">Start with Daily Pull</a>
        <br />
        <br />
        <p>or</p>
        <p><a asp-page="/Spreads/AllSpreads">check out the other spreads</a></p>
    </center>

<style>
body {
  margin-left: 10%;
  margin-right: 10%;
}

.container {
  display: flex;
}

.logo {
  flex: 1 1 25%;
}

.logo img {
  width: 100%;
  height: auto;
}

.text {
  flex: 1 1 75%;
  margin-left: 1.4rem;
}

</style>
