@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

Thank you for visiting our website, Lilac Blossom Tarot. We respect your privacy and are committed to protecting your personal information. This privacy policy explains how we collect, use, and share the information you provide to us through this website.
<br />
<br />
<b>Information We Collect</b>
<br />
We collect information that you provide to us when you visit our website, such as your name and email address when you sign up for our newsletter or contact us through our contact form. We may also collect information about your browsing behavior on our website through the use of cookies or other tracking technologies.
<br />
<br />
<b>Use of Information</b>
<br />
We use the information we collect to provide you with the services you request, such as sending you our newsletter or responding to your inquiries through our contact form. We may also use the information to improve our website and to personalize your experience. We do not share your personal information with third parties unless required by law or with your express consent.
<br />
<br />
<b>Cookies</b>
<br />
Our website uses cookies to improve your browsing experience. A cookie is a small file that is sent to your computer when you visit a website. Cookies allow us to recognize your device and store information about your preferences or past actions on our website. You can disable cookies in your browser settings if you prefer not to receive them.
<br />
<br />
<b>Security</b>
<br />
We take reasonable measures to protect your personal information from unauthorized access, use, or disclosure. However, no method of transmission over the internet or electronic storage is 100% secure. We cannot guarantee the security of your personal information.
<br />
<br />
<b>Changes to this Policy</b>
<br />
We may update this privacy policy from time to time. We will post the updated policy on our website and indicate the date it was last updated. We encourage you to review this policy periodically.
<br />
<br />
Thank you for visiting our website.</p>
