@page
@model lilac_blossom_tarot.Pages.About.AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="container">

  <div class="text">
      <h3>About</h3>

<p>Lilac Blossom Tarot is built using ASP.NET Core Razor Pages and utilizes C#, Razor, JavaScript, HTML, and CSS. It is deployed on Azure; tarot card images and card descriptions come from <a href="https://biddytarot.com">biddytarot.com</a>. 
<p>The codebase for Lilac Blossom Tarot can be found on <a href="https://github.com/anelguel/lilac-blossom-tarot">GitHub</a>. If you'd to learn more about me and see more of my work, please visit <a href="https://www.anelguel.com">anelguel.com</a></p>
<p>Thank you for visiting Lilac Blossom Tarot! I hope that you enjoy exploring this site as much as I enjoyed creating it.</p>

 <center><img src="~/images/dividers/2.png" width=100px></center>

  </div>
</div>

