@page
@model lilac_blossom_tarot.Pages.About.AboutModel
@{
}

<div class="container">

  <div class="text">
      <h3>Welcome!</h3>
    <h2>Welcome to Lilac Blossom Tarot! This is a personal project that I created to share my love of tarot and other mystical practices with the world.</h2>

<p>This project is built using ASP.NET Core Razor Pages, which is a powerful framework for building web applications with C#, HTML, CSS, and JavaScript. I chose this framework because of its flexibility and the wide range of features and tools it provides for building robust web applications.</p>

<p>One of the key features of Lilac Blossom Tarot is the use of a raw JSON file to store and manage the tarot card data. This approach allows for more flexibility and customization than using a pre-built tarot card database. I parse this JSON file using C# and display the data on the web pages using HTML, CSS, and JavaScript.

<p>I created Lilac Blossom Tarot as a personal project to explore my interest in tarot and other mystical practices, but I also wanted to share it with others who share the same passion. Whether you're a seasoned tarot reader or just starting out, I hope that you find something here that inspires you and helps you on your journey.</p>

<p>nk you for visiting Lilac Blossom Tarot, and I hope that you enjoy exploring this site as much as I enjoyed creating it.</p>

 <div class="logo">
    <img src="~/images/flower2.png" alt="Logo" width=300px>
  </div>

  </div>
</div>

